<ion-header>
  <ion-toolbar>
    <ion-title>
      Home Friends
    </ion-title>
    <ion-buttons slot="end">

        <ion-button color="primary" expand="block" shape="round" color="primary" (click)="logout()">Log Out</ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid justify-content-center align-items-center>
    <ion-row>
      
        <ion-col size="12" size-sm="8" offset-sm="2">

          <div class="container">
            <h2>List Teman</h2>
            <ion-item lines="none" color="primary" *ngFor="let rs of rumahsakit" >
              <ion-grid>
                <ion-row class="ion-align-items-center">
                  <ion-col size="2">
                  <ion-avatar>
                    <ion-img src="https://www.pngitem.com/pimgs/m/146-1468479_my-profile-icon-blank-profile-picture-circle-hd.png"></ion-img>
                  </ion-avatar>
                  </ion-col>
                  <ion-col size="8">
                      <h4>{{rs.nama}}</h4>
                  </ion-col>
                  <ion-col size="2">
                    <ion-button color="light" fill="clear" [routerLink]="['./rsdetail', rs.key]">
                      <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
          </div>
      </ion-col>      
    </ion-row>
  </ion-grid>
</ion-content>
