<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="terdekat">
      <ion-label color="success">Near Me</ion-label>
      <ion-icon color="success" name="location-outline"></ion-icon>
    </ion-tab-button>
    
    <ion-tab-button tab="main">
      <ion-label color="success">Home</ion-label>
      <ion-icon color="success" name="home-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-label color="success">My Profile</ion-label>
      <ion-icon color="success" name="person-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
