<ion-header>
  <ion-toolbar>
     <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="home/tabs/main">
        <ion-icon slot="icon-only" name="arrow-back" defaultHref="/home/tabs/main"></ion-icon>
      </ion-back-button>
    </ion-buttons>
    <ion-title>Rumah Sakit </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h2>Rumah Sakit</h2>
    <ion-item lines="none" color="primary" *ngFor="let rsdet of rsdet" >
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="2">
            <ion-button color="light" fill="clear">
              <ion-icon slot="icon-only" name="film"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="8">
              <h4>{{rsdet.key}}</h4>
              <h6>{{rsdet.alamat}}</h6>
          </ion-col>
          <ion-col size="2">
            <ion-button color="light" fill="clear">
              <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </div>

</ion-content>
