<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="home/tabs/main">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-col *ngIf="authSrv.isLoggedIn === true">
    <ion-grid justify-content-center align-items-center>
      <ion-row>
         <ion-col size="12" size-sm="8" offset-sm="2">
           <ion-card text-center padding color="dark">
            <ion-img src="https://www.pngitem.com/pimgs/m/146-1468479_my-profile-icon-blank-profile-picture-circle-hd.png"></ion-img>
           </ion-card>
         </ion-col>      
       </ion-row>
       <ion-row>
        <ion-col size="12" size-sm="8" offset-sm="2">
          <ion-card text-center padding item-center>
           <ion-item>
             <ion-icon  slot="start"></ion-icon>
             <ion-label>{{ names }}</ion-label>
           </ion-item>        
           <ion-item>
             <ion-icon  slot="start"></ion-icon>
             <ion-label>{{ userEmail }}</ion-label>
           </ion-item>
           <ion-item>
            <ion-icon  slot="start"></ion-icon>
            <ion-label>{{ phones }}</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon  slot="start"></ion-icon>
            <ion-label>{{ address }}</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon  slot="start"></ion-icon>
            <ion-label>{{ niks }}</ion-label>
          </ion-item>
          </ion-card>
        </ion-col>
       </ion-row>
     </ion-grid>
     <ion-button href="home/tabs/profile/edit">
      EDIT PROFILE
  </ion-button>

  <ion-item *ngIf="authSrv.isLoggedIn === false">
    <ion-button type="submit" href="/login">Login</ion-button>
  </ion-item>
  </ion-col>


 
  
  


</ion-content>
